.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #333;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header a {
    color: grey;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.header a:hover {
    color: #007bff;
}

.header > * {
    display: flex;
    align-items: center;
}
